h1 {
    margin: 0;
    font-size: 42px;
    line-height: 120%;
}

.dark {
    color: #121212;
}

section {
    position: relative;
    width: 1440px;
    height: 960px;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    background: #FFFFFF;
}

.img-hero {
    position: absolute;
    width: 505px;
    height: 330px;
    left: 230px;
    top: 96px;
}

.content {
    position: absolute;
    width: 380px;
    height: 250px;
    left: 830px;
    top: 136px;
}

.copy {
    margin: 24px 0 32px 0;
    line-height: 24px;
}

button {
    width: 128px;
    height: 48px;
    background: #E4C1AE;
    color: #FFFFFF;
    border-radius: 32px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    padding: 16px 40px;
    cursor: pointer;
}

.alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000050;
}

.alert-body {
    position: relative;
    top: 375px;
    width: 920px;
    height: 210px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.alert-content {
    width: 380px;
    height: 98px;
    margin-left: 95px;
    margin-top: 56px;
}

.alert-close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

.reset {
    display: none;
    position:relative;
    left: 775px;
}

@media screen and (max-width: 900px) {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 930px;
    }

    .img-hero,
    .content {
        position: relative;
        left: 0;
        margin: 0 auto;
    }
}